<div dGroupToolbar>
    <div dGroup class="me-2">
        <button dButton appRipple color="primary"> 1 </button>
        <button dButton appRipple color="primary"> 2 </button>
        <button dButton appRipple color="primary"> 3 </button>
        <button dButton appRipple color="primary"> 4 </button>
    </div>
    <div dGroup class="me-2">
        <button dButton appRipple color="secondary"> 5 </button>
        <button dButton appRipple color="secondary"> 6 </button>
        <button dButton appRipple color="secondary"> 7 </button>
    </div>
    <div dGroup class="me-2">
        <button dButton appRipple color="info"> 8 </button>
        <button dButton appRipple color="info"> 9 </button>
    </div>
</div>