<p class="mx-auto max-w-lg text-balance text-center text-4xl font-grap font-semibold tracking-tight text-gray-950 sm:text-5xl pb-2">Botones</p>
<!-- Botones Primarios -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
    <div class="p-6">
      <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
        Grupo de Botones
      </h5>
      <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
        Cada botón tiene el texto que indica el tipo de accion que realiza
      </p>
    </div>
    <!-- Botones primarios en estado normal-->
    <div class="p-6 flex items-center justify-center gap-16">
        <h6 class="font-semibold">Normal</h6>
        <div class="p-6 pt-0 flex flex-wrap gap-2">
          <button dButton appRipple> Primary </button>
          <button dButton appRipple color="secondary"> Secondary </button>
          <button dButton appRipple color="success"> Success </button>
          <button dButton appRipple color="danger"> Danger </button>
          <button dButton appRipple color="warning"> Warning </button>
          <button dButton appRipple color="info"> Info </button>
          <button dButton appRipple color="light"> Light </button>
          <button dButton appRipple color="dark"> Dark </button>
        </div>
    </div>
    <!-- Botones primarios deshabiltados-->
    <div class="p-6 flex items-center justify-center gap-5">
        <h6 class="font-semibold">Deshabilitado</h6>
        <div class="p-6 pt-0 flex flex-wrap gap-2">
          <button dButton appRipple disabled> Primary </button>
          <button dButton appRipple color="secondary" disabled> secondary </button>
          <button dButton appRipple color="success" disabled> Success </button>
          <button dButton appRipple color="danger" disabled> Danger </button>
          <button dButton appRipple color="warning" disabled> Warning </button>
          <button dButton appRipple color="info" disabled> Info </button>
          <button dButton appRipple color="light" disabled> Light </button>
          <button dButton appRipple color="dark" disabled> Dark </button>
        </div>
    </div>
</div>
<!-- Botones con bordes -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 hover:bg-danger block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones con borde
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Grupo de botones con borde. Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <!-- Botones con bordes en estado normal-->
  <div class="p-6 flex items-center justify-center gap-16">
      <h6 class="font-semibold">Normal</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="outline"> Primary </button>
        <button dButton appRipple variety="outline" color="secondary"> secondary </button>
        <button dButton appRipple variety="outline" color="success"> Success </button>
        <button dButton appRipple variety="outline" color="danger"> Danger </button>
        <button dButton appRipple variety="outline" color="warning"> Warning </button>
        <button dButton appRipple variety="outline" color="info"> Info </button>
        <button dButton appRipple variety="outline" color="light"> Light </button>
        <button dButton appRipple variety="outline" color="dark"> Dark </button>
      </div>
  </div>
  <!-- Botones primarios en estado deshabilitado-->
  <div class="p-6 flex items-center justify-center gap-4">
    <h6 class="font-semibold">Desahibilitado</h6>
    <div class="p-6 pt-0 flex flex-wrap gap-2 items-center justify-center">
      <button dButton appRipple variety="outline" disabled> Primary </button>
        <button dButton appRipple variety="outline" color="secondary" disabled> secondary </button>
        <button dButton appRipple variety="outline" color="success" disabled> Success </button>
        <button dButton appRipple variety="outline" color="danger" disabled> Danger </button>
        <button dButton appRipple variety="outline" color="warning" disabled> Warning </button>
        <button dButton appRipple variety="outline" color="info" disabled> Info </button>
        <button dButton appRipple variety="outline" color="light" disabled> Light </button>
        <button dButton appRipple variety="outline" color="dark" disabled> Dark </button>
    </div>
  </div>
</div>
<!-- Botones con iconos -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones con iconos
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <!-- Botones con iconos en estado normal -->
  <div class="p-6 flex items-center justify-center gap-16">
      <h6 class="font-semibold ml-16">Normal</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple>
          <i class="far fa-bell fa-lg pr-2"></i>
          Primary
        </button>
        <button dButton appRipple color="secondary">
          <i class="far fa-bell fa-lg pr-2"></i>
          secondary
        </button>
        <button dButton appRipple color="success">
          <i class="far fa-bell fa-lg pr-2"></i>
          Success
        </button>
        <button dButton appRipple color="danger">
          <i class="far fa-bell fa-lg pr-2"></i>
          Danger
        </button>
        <button dButton appRipple color="warning">
          <i class="far fa-bell fa-lg pr-2"></i>
          Warning
        </button>
        <button dButton appRipple color="info">
          <i class="far fa-bell fa-lg pr-2"></i>
          Info
        </button>
        <button dButton appRipple color="light">
          <i class="far fa-bell fa-lg pr-2"></i>
          Light
        </button>
        <button dButton appRipple color="dark">
          <i class="far fa-bell fa-lg pr-2"></i>
          Dark
        </button>
      </div>
  </div>
  <div class="p-6 flex items-center justify-center gap-4">
      <h6 class="font-semibold ml-16">Deshabilitado</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Primary
        </button>
        <button dButton appRipple color="secondary" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          secondary
        </button>
        <button dButton appRipple color="success" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Success
        </button>
        <button dButton appRipple color="danger" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Danger
        </button>
        <button dButton appRipple color="warning" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Warning
        </button>
        <button dButton appRipple color="info" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Info
        </button>
        <button dButton appRipple color="light" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Light
        </button>
        <button dButton appRipple color="dark" disabled>
          <i class="far fa-bell fa-lg pr-2"></i>
          Dark
        </button>
      </div>
  </div>
</div>
<!-- Botones con elementos HTML-->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones con elementos &lt;button&gt;, &lt;a&gt; o &lt;input&gt;
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      El componente &lt;button&gt; está diseñado para los elementos HTML &lt;button&gt;, &lt;a&gt; o &lt;input&gt; (aunque algunos navegadores pueden aplicar una representación ligeramente diferente). Si está usando el componente &lt;button&gt; como elementos &lt;a&gt; que se utilizan para activar la funcionalidad ex. Al colapsar el contenido, estos enlaces deberían recibir un rol="botón" para comunicar adecuadamente su significado a las tecnologías de apoyo como los lectores de pantalla.
    </p>
  </div>
  <div class="p-6 flex items-center justify-center gap-16">
      <div class="p-6 pt-0 flex flex-wrap gap-4">
        <a dButton appRipple class="cursor-pointer"> Link </a>
        <button dButton appRipple> Button </button>
        <input dButton appRipple type="button" class="cursor-pointer" value="Input">
        <input dButton appRipple type="submit" class="cursor-pointer" value="Submit">
        <input dButton appRipple type="reset" class="cursor-pointer" value="Reset">
      </div>
  </div>
</div>
<!-- Botones fantasmas -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones fantasma
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <div class="p-6 flex items-center justify-center gap-16">
      <h6 class="font-semibold">Normal</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="ghost"> Primary </button>
        <button dButton appRipple variety="ghost" color="secondary"> secondary </button>
        <button dButton appRipple variety="ghost" color="success"> Success </button>
        <button dButton appRipple variety="ghost" color="danger"> Danger </button>
        <button dButton appRipple variety="ghost" color="warning"> Warning </button>
        <button dButton appRipple variety="ghost" color="info"> Info </button>
        <button dButton appRipple variety="ghost" color="light"> Light </button>
        <button dButton appRipple variety="ghost" color="dark"> Dark </button>
      </div>
  </div>
  <div class="p-6 flex items-center justify-center gap-16">
    <h6 class="font-semibold">Deshabilitado</h6>
    <div class="p-6 pt-0 flex flex-wrap gap-2">
      <button dButton appRipple variety="outline" disabled> Primary </button>
      <button dButton appRipple variety="outline" color="secondary" disabled> secondary </button>
      <button dButton appRipple variety="outline" color="success" disabled> Success </button>
      <button dButton appRipple variety="outline" color="danger" disabled> Danger </button>
      <button dButton appRipple variety="outline" color="warning" disabled> Warning </button>
      <button dButton appRipple variety="outline" color="info" disabled> Info </button>
      <button dButton appRipple variety="outline" color="light" disabled> Light </button>
      <button dButton appRipple variety="outline" color="dark" disabled> Dark </button>
    </div>
</div>
</div>
<!-- Botones con distintos tamaños -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones con distintos tamaños
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <div class="p-6 flex items-baseline gap-16">
      <h6 class="font-semibold ml-16">Grandes</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="large"> Primary </button>
        <button dButton appRipple variety="large" color="secondary"> secondary </button>
      </div>
  </div>
  <div class="p-6 flex items-baseline gap-14">
      <h6 class="font-semibold ml-16">Pequeños</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="small"> Primary </button>
        <button dButton appRipple variety="small" color="secondary"> secondary </button>
      </div>
  </div>
</div>
<!-- Botones Pildoras -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones de tipo Pildoras
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <div class="p-6 flex items-center justify-center gap-16">
      <h6 class="font-semibold">Normal</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="pill"> Primary </button>
        <button dButton appRipple variety="pill" color="secondary"> secondary </button>
        <button dButton appRipple variety="pill" color="success"> Success </button>
        <button dButton appRipple variety="pill" color="danger"> Danger </button>
        <button dButton appRipple variety="pill" color="warning"> Warning </button>
        <button dButton appRipple variety="pill" color="info"> Info </button>
        <button dButton appRipple variety="pill" color="light"> Light </button>
        <button dButton appRipple variety="pill" color="dark"> Dark </button>
      </div>
  </div>
  <div class="p-6 flex items-center justify-center gap-4">
      <h6 class="font-semibold">Deshabilitado</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="pill" disabled> Primary </button>
        <button dButton appRipple variety="pill" color="secondary" disabled> secondary </button>
        <button dButton appRipple variety="pill" color="success" disabled> Success </button>
        <button dButton appRipple variety="pill" color="danger" disabled> Danger </button>
        <button dButton appRipple variety="pill" color="warning" disabled> Warning </button>
        <button dButton appRipple variety="pill" color="info" disabled> Info </button>
        <button dButton appRipple variety="pill" color="light" disabled> Light </button>
        <button dButton appRipple variety="pill" color="dark" disabled> Dark </button>
      </div>
  </div>
</div>
<!-- Botones Cuadrados -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones Cuadrados
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Cada botón tiene el texto que indica el tipo de accion que realiza
    </p>
  </div>
  <div class="p-6 flex items-center justify-center gap-16">
      <h6 class="font-semibold">Normal</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="square"> Primary </button>
        <button dButton appRipple variety="square" color="secondary"> secondary </button>
        <button dButton appRipple variety="square" color="success"> Success </button>
        <button dButton appRipple variety="square" color="danger"> Danger </button>
        <button dButton appRipple variety="square" color="warning"> Warning </button>
        <button dButton appRipple variety="square" color="info"> Info </button>
        <button dButton appRipple variety="square" color="light"> Light </button>
        <button dButton appRipple variety="square" color="dark"> Dark </button>
      </div>
  </div>
  <div class="p-6 flex items-center justify-center gap-4">
      <h6 class="font-semibold">Deshabilitado</h6>
      <div class="p-6 pt-0 flex flex-wrap gap-2">
        <button dButton appRipple variety="square" disabled> Primary </button>
        <button dButton appRipple variety="square" color="secondary" disabled> secondary </button>
        <button dButton appRipple variety="square" color="success" disabled> Success </button>
        <button dButton appRipple variety="square" color="danger" disabled> Danger </button>
        <button dButton appRipple variety="square" color="warning" disabled> Warning </button>
        <button dButton appRipple variety="square" color="info" disabled> Info </button>
        <button dButton appRipple variety="square" color="light" disabled> Light </button>
        <button dButton appRipple variety="square" color="dark" disabled> Dark </button>
      </div>
  </div>
</div>
<!-- Botones de bloque -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones de pantalla completa
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Crear grupo de botones de tamaño ajustado, "botones de bloque" con una mezcla de nuestras utilidades de pantalla y espacio. Al usar utilidades en lugar de clases específicas para botones, tenemos mucho más control sobre el espaciado, la alineación y los comportamientos sensibles.
    </p>
  </div>
  <div class="p-6 flex items-center justify-center">
      <div class="p-6 pt-0 flex flex-col w-full gap-4">
        <button dButton appRipple> Button </button>
        <button dButton appRipple> Button </button>
      </div>
  </div>
</div>
<!-- Botones de bloque -->
<div class="relative flex w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      Grupo de Botones ajustados
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      Crear grupo de botones de tamaño ajustado, "botones de bloque" con una mezcla de nuestras utilidades de pantalla y espacio. Al usar utilidades en lugar de clases específicas para botones, tenemos mucho más control sobre el espaciado, la alineación y los comportamientos sensibles.
    </p>
  </div>
  <div class="p-6 flex items-center justify-center">
      <div class="p-6 pt-0 flex flex-col w-[640px] gap-4">
        <button dButton appRipple> Button </button>
        <button dButton appRipple> Button </button>
      </div>
  </div>
</div>
<!-- Pie de página -->
<div class="w-full pt-5 px-4 mb-8 mx-auto">
    <div class="text-sm text-gray-700 py-1">
        Made with <a class="text-gray-700 font-semibold" href="https://www.material-tailwind.com/docs/html/card?ref=tailwindcomponents" target="_blank">Material Tailwind</a> by <a href="mailto:flutterdev.algebra557@passinbox.com" class="text-gray-700 font-semibold" target="_blank"> groman</a>.
    </div>
</div>